body { 
        background-image: url("star.jpeg"); 
        background-color: #cccccc; 
        height: 900px; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
      
}
body {
    background-color: powderblue;
  }
  h1 {
    color:springgreen;
    text-align: center; 
    border: 2px solid powderblue;
}
h2 {
    color:springgreen;
    text-align: center; 
   }



